{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="work" class="">
    {% include 'partials/_xp_intro.html' %}

    <div class="card card-body py-5">
        <div class='container'>
            <div class='row'>
                <div class="col-md-8 card mb-4 mt-3 left top">
                    <div class="card-body">
                        {% for item in xp_list %}
                            <div class='card mb-4'>
                                <div class='card-body'>
                                    <h2 class='card-title'>{{ item.title }}</h2>
                                    <p class='card-text text-muted h6'>{{ item.author }} | {{ item.created_on}} </p>
                                    <p class='card-text'>{{item.content|slice:':350'|safe }} ...</p>
                                    <a target='_self' href="{% url 'xp_detail' item.slug %}" class='btn btn-primary'>Read More &rarr;</a>
                                </div>
                            </div>
                        {% endfor %}
                        {% if is_paginated %}
                        <nav aria-label="Page navigation conatiner">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                                            &laquo; Previous
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">
                                            &laquo; Previous
                                        </a>
                                    </li>
                                {% endif %}
                                {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="page-item active">
                                            <span class="page-link" href="#">{{ i }}</span>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Next &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                    </div>
                </div>
                <div class="col-md-4 card mb-4 mt-3 float-right ">
                    <div class="card my-4">
                        <h5 class="card-header">Blog Sidebar</h5>
                        <div class="card-body">
                            <p class="card-text">Search by jobs, projects, skills, etc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/_foot_scripts.html' %}
{% endblock %}