{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div id="work" class="">
    {% include 'partials/_xp_intro.html' %}

    <div class="card card-body py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 card mb-4 mt-3 left top">
                    <div class="card-body">
                        {% if xp.hero_image %}
                            <img src="{{ xp.hero_image.url }}" class="img-rounded img-fluid mb-2">
                        {% endif %}
                        <h1>
                            {% block title %} {{ object.title }} {% endblock title %}
                        </h1>
                        <p class="text-muted">
                            {{ xp.author }} | {{ xp.created_at }}
                        </p>
                        <p class="card-text">{{ object.content | safe }}</p>
                    </div>
                    <div>
                        {% for tag in xp_tags %}
                            {% if tag.1 == 0 %} <!-- technology -->
                                <a href="{% url 'xp' %}?tag={{tag.0}}" class="btn btn-primary btn-sm mb-2" type="button">
                                    <i class="fa-solid fa-tag"></i> {{ tag.0 }}
                                </a>
                            {% elif tag.1 == 1 %} <!-- skills -->
                                <a href="{% url 'xp' %}?tag={{tag.0}}" class="btn btn-success btn-sm mb-2" type="button">
                                    <i class="fa-solid fa-tag"></i> {{ tag.0 }}
                                </a>
                            {% elif tag.1 == 2 %} <!-- jobs -->
                                <a href="{% url 'xp' %}?tag={{tag.0}}" class="btn btn-info btn-sm mb-2" type="button">
                                    <i class="fa-solid fa-tag"></i> {{ tag.0 }}
                                </a>
                            {% elif tag.1 == 3 %} <!-- personal -->
                                <a href="{% url 'xp' %}?tag={{tag.0}}" class="btn btn-secondary btn-sm mb-2" type="button">
                                    <i class="fa-solid fa-tag"></i> {{ tag.0 }}
                                </a>
                            {% else %} <!-- else -->
                                <a href="{% url 'xp' %}?tag={{tag.0}}" class="btn btn-dark btn-sm mb-2" type="button">
                                    <i class="fa-solid fa-tag"></i> {{ tag.0 }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% block sidebar %}{% include 'partials/_xp_sidebar.html' %}{% endblock sidebar %}
            </div>
        </div>
    </div>
</div>
{% include 'partials/_foot_scripts.html' %}
{% endblock content%}

