{% load static %}

<!-- FOOTER -->
<footer id="main-footer" class="p-5 bg-dark text-white">
    <div class="row">
        <div class="col-md-6">
            {% if context %}
                <a href='media/{{ context.resume_url.filename }}' class="btn btn-outline-light">
                    <i class="fa-solid fa-file"></i> Download Resume
                </a>
            {% else %}
                <a href='media/{{ resume_url.filename }}' class="btn btn-outline-light">
                    <i class="fa-solid fa-file"></i> Download Resume
                </a>
            {% endif %}
        </div>
    </div> 
</footer>