{% load static %}

<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<!-- Alt Theme CSS -->
<link href="{% static 'css/theme_herbie.css' %}" rel="stylesheet">
<!-- custom stylesheet -->
<!-- use on dev to refresh style on reload -->
<link rel="stylesheet" href="{% static 'css/style.css' %}?{% now "U" %}"> 
<!-- use on prod -->
<!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->
