{% load static %}

<header id="main-header">
    <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
            <img src="{% static 'img/TimA_b&w_square_3.jpg' %}" alt="" />
        </div> <!--/col-->
        <div class="col-lg-8 col-md-7">
            <div class="d-flex flex-column">
                <div class="p-5 bg-dark text-white">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <h1 class="display-4">Tim Andrews</h1>
                        <div>
                            <a href="https://github.com/timpandrews" 
                                    target='_blank' class="text-white mr-md-2" 
                                    alt='Github' data-bs-toggle="tooltip" 
                                    data-bs-placement="top" title="Github">
                                <i class="fa-brands fa-github fa-xl"></i>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/tim-andrews/" 
                                    target='_blank' class="text-white"
                                    alt='LinkedIn' data-bs-toggle="tooltip" 
                                    data-bs-placement="top" title="LinkedIn">
                                <i class="fa-brands fa-linkedin fa-xl"></i>
                            </a>
                        </div>
                        <div>
                            <a href="mailto:timpandrews@yahoo.com" 
                                    target='_blank' class="text-white d-none d-lg-block" 
                                    alt='timpandrews@yahoo.com' data-bs-toggle="tooltip" 
                                    data-bs-placement="top" title="timpandrews@yahoo.com">
                                <i class="fa-solid fa-envelope fa-xl"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="p-4 bg-custom">
                    Experienced IT Professional and Full Stack Web Developer
                    <a href='/honcho' class='float-right' style='color: black;'>click</a>
                </div>

                <div>
                    <div class="d-flex flex-row text-white align-items-stretch text-center">
                        <div class="port-item p-4 bg-primary">
                            <a href='/home' target='_self' class='port-link text-white' style='text-decoration: none;'>
                                <i class="fas fa-home fa-2x d-block"></i>
                                <span class="d-none d-sm-block">Home</span>
                            </a>
                        </div>
                        <div class="port-item p-4 bg-success">
                            <a href='/resume' target='_self' class='port-link text-white' style='text-decoration: none;'>
                                <i class="fas fa-graduation-cap fa-2x d-block"></i>
                                <span class="d-none d-sm-block">Resume</span>
                            </a>
                        </div>
                        <div class="port-item p-4 bg-secondary">
                            <a href='/xp' target='_self' class='port-link text-white' style='text-decoration: none;'>
                                <i class="fas fa-briefcase fa-2x d-block"></i>
                                <span class="d-none d-sm-block">Experience</span>
                            </a>
                        </div>
                        <div class="port-item p-4 bg-danger">
                            <a href='/contact' target='_self' class='port-link text-white' style='text-decoration: none;'>
                                <i class="fas fa-envelope fa-2x d-block"></i>
                                <span class="d-none d-sm-block">Contact</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--/col-->
    </div> <!--/row-->
</header>