{% load static %}

<div id="contact" class="collapse">
    <div class="card card-body bg-danger text-white py-5">
        <h2>Contact Me</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, cumque.
        </p>
    </div>
    <div class="card card-body py-5">
        <h3>Get in Touch</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel praesentium voluptatum esse voluptatem veritatis neque?</p>
        <form>
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-danger text-white">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <input type="text" class="form-control bg-dark text-white" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-danger text-white">
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                    <input type="text" class="form-control bg-dark text-white" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-danger text-white">
                        <i class="fa-solid fa-pencil"></i>
                    </span>
                    <textarea class="form-control bg-dark text-white" placeholder="Message"></textarea>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-danger btn-block btn-lg">
        </form>
    </div>
</div>