{% load static %}

<div id="home" class="collapse show">
    <div class="card card-body bg-primary text-white py-5">
        <h2>All about Me!</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, cumque.
        </p>
    </div>
    <div class="card card-body py-5">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, nam.
        </p>
        <hr>
        <h4>Python</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Agile</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:90%"></div>
        </div>
        <h4>Django</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:80%"></div>
        </div>
    </div>
</div>