{% load static %}

<div id="resume" class="collapse">
    <div class="card card-body bg-success text-white py-5">
        <h2>My Resume</h2>   
    </div>
    <div class="card card-body py-5 bg-light"> 
        <div class="row">
            <div class="col"><h3>Artemis Consulting, Inc. - McLean, VA</h3></div>
            <div class="col text-right">2017-2020</div>
        </div>
        <p class="lead">
            Goverment Contractor working closely with The Library of Congress
        </p>
        <div class="card"> <!-- CONAN -->
            <div class="card-body">
                <h4 class="card-title">
                    Developer / Lead Developer - Constitution Annotated Modernization (CONAN)
                </h4>
                <h6>December 2018 - January 2020</h6>
                <h5><a href='https://constitution.congress.gov/'>constitution.congress.gov</a></h5>
                <p class="card-text">
                    Part of a development team to modernize the 
                    <a href='https://constitution.congress.gov/'>www.constitution.congress.gov</a>
                    website. Primary responsibilities included: design & implementation of ETL 
                    system to convert legacy XML files into a fully searchable Apache Solr Data 
                    Repository, design & implementation of Content Management / Admin Tools for 
                    non-technical Library of Congress Staff, and contribution to web front end. 
                    Also assumed the role of lead developer toward the end of the project. 
                </p>
            </div>
        </div> <!-- /CONAN -->
        <div class="card"> <!-- CROWD -->
            <div class="card-body">
                <h4 class="card-title">
                    Developer - By The People (Crowdsourcing)
                </h4>
                <h6>June 2018 - November 2018</h6>
                <h5><a href='https://crowd.loc.gov/'>crowd.loc.gov</a></h5>
                <p class="card-text">
                    Part of a development team responsible for the rapid prototyping of 
                    the Libraries Crowdsourcing Web Page 
                    (<a href='https://crowd.loc.gov/'>crowd.loc.gov</a>). 
                    This site was developed over a short period (6 months) and presented 
                    to the Client as a fully functional MVP website. My responsibilities 
                    included: Project Management and web development. 
                </p>
            </div>
        </div> <!-- /CROWD -->
        <div class="card"> <!-- REPO -->
            <div class="card-body">
                <h4 class="card-title">
                    Developer - Repo (Internal Library Digital Repository Inventory)
                </h4>
                <h6>June 2018 - November 2018</h6>
                <p class="card-text">
                    Repo is the Library of Congress’s internal Data Repository of all of 
                    the Library’s Digital Assets. I was responsible for migrating several 
                    pages and functions of the older system to Python/Django   
                </p>
            </div>
        </div> <!-- /REPO -->
        <div class="card"> <!-- JUKEBOX -->
            <div class="card-body">
                <h4 class="card-title">
                    Developer - National Jukebox
                </h4>
                <h6>May 2017 - May 2018</h6>
                <h5><a href='https://loc.gov/collections/national-jukebox'>loc.gov/collections/national-jukebox</a></h5>
                <p class="card-text">
                    The main website of the Library of Congress 
                    (<a href='https://loc.gov'>www.loc.gov</a>) 
                    hosts many digital 
                    collections. The National Jukebox project was initiated to add a collection 
                    of early (1900 - 1920) recordings to the library’s main site. This collection 
                    has some unique requirements that needed to be developed for the site. I was 
                    responsible for building an ETL system to import digital recordings and 
                    recording metadata. I was also responsible for configuring the new collection 
                    as part of the loc.gov site and for developing several new features for the 
                    Jukebox site that could also be used for other collections on the loc.gov 
                    site.
                </p>
            </div>
        </div> <!-- /JUKEBOX -->
    </div> <!-- /Artemis -->
    <hr>
    <div class="card card-body py5 bg-light">
        <div class="row">
            <div class="col"><h3>StaySmarter, Inc. - Arlington, VA</h3></div>
            <div class="col text-right">2013-2017</div>
        </div>
        <p class="lead">
            Innovative Hotel Insiders and Technologists Innovating how rooms are found and sold online
        </p>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Principal and Chief Information Officer
                </h4>
                <p class="card-text">
                    Responsible for building all IT Systems at a new fast-paced IT Startup. 
                    Built IT infrastructure and development functions companywide primarily 
                    using Software as a Service (SaaS) Tools. As the company matured and the 
                    IT Systems became operational there was a need to focus on developing 
                    the company’s suite of Web & Mobile Applications. I was able to use my 
                    background in Web Development to transition onto the software development 
                    team. I served as Project Manager and Lead Developer on several projects 
                    while also contributing on the development teams on other projects. I 
                    maintained my role as IT Administrator while adding roles as Project Manager 
                    and Full Stack Web Developer.  
                </p>
                <ul>
                    <li class="card-text">
                        Earned recognition for successfully designing, restructuring, 
                        implementing, and maintaining all IT infrastructures and systems for a 
                        fast-moving tech startup, which are run using SaaS (Software as a 
                        Service) tools such as Office 365, Basecamp, and Trello. 
                    </li>
                    <li class="card-text">
                        Assumed full responsibility in identifying and choosing strategic office 
                        space for the startup as well as maintaining a flexible office 
                        environment to allow modification to space without causing excessive 
                        disruptions to productivity.
                    </li>
                    <li class="card-text">
                        Leveraged industry expertise in creating a client-facing help desk system 
                        for the three products, including StayAtHand iOS, StayFaster web, and 
                        StayDreamer web applications, utilizing ZenDesk, 8x8 (VoIP), Twilio and 
                        third-party answering services.
                    </li>
                </ul>
                <h5 class="card-text">
                    Web/Mobile Development Projects:
                </h5>
                <h6 class="card-text">
                    Project Manager and Lead Developer for StayDreamer.com
                </h6>
                <ul>
                    <li class="card-text">
                        Spearheaded all facets of the website development, which
                        aids aspirational travelers to browse, search, discover, and 
                        share hotels.  
                    </li>
                    <li class="card-text">
                        Made major contribution from the original inspiration through the 
                        final execution of StayDreamer; created using Python, HTML, CSS, 
                        Bootstrap, JavaScript, jQuery, MySQL, and AWS servers. 
                    </li>
                </ul>
                <h6 class="card-text">
                    Developer for StayFaster.com
                </h6>
                <ul>
                    <li class="card-text">
                        Collaborated with a team of developers in developing 
                        and maintaining StayFaster.com; built using Python, HTML, 
                        CSS, BootStrap, Responsive Web Design, JavaScript, jQuery, 
                        MySQL, and AWS servers. 
                    </li>
                </ul>
                <h6 class="card-text">
                    Developer for StayAtHand iOS App
                </h6>
                <ul>
                    <li class="card-text">
                        Maintained active involvement in the creation and maintenance of 
                        StayAtHand, an iOS application for hotel booking.
                    </li>
                </ul>
                <h6 class="card-text">
                    Project Manager, System Architect and Lead Developer for internal Web Site (RSDB)
                </h6>
                <ul>
                    <li class="card-text">
                        Administered RSDB, the company’s internal web application providing a tool to 
                        the Customer Service Team to efficiently troubleshoot issues; the tool is also 
                        used internally for reporting activity. 
                    </li>
                    <li class="card-text">
                        Expertly identified the requirements and design of the tool, which was constructed 
                        using ASP Classic, HTML, CSS, JavaScript, jQuery, MySQL, and AWS servers.
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- /StaySmarter -->
    <hr>
    <div class="card card-body py5 bg-light">
        <div class="row">
            <div class="col"><h3>Marketing General, Inc - Alexandria, VA</h3></div>
            <div class="col text-right">1993-2013</div>
        </div>
        <p class="lead">
            Leading Provider of Membership-Marketing Solutions, Specializing 
            in Data Analysis of Member Behavior
        </p>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Director of Technology & Development</h4>
                <h6>2002-2013</h6>
                <p class="card-text">
                    Orchestrated IT infrastructure and development functions companywide, 
                    ensuring comprehensive technologies align with capacity growth for a 
                    mid-size marketing firm. Collaborated with Senior Executives to 
                    determine technology needs across multiple business segments. Drafted 
                    annual budgets and monitored resource allocation for all IT activities 
                    and led budget forecasting for future needs. Managed daily operations 
                    for help desk and support staff, overseeing all company IT support and 
                    Troubleshooting. Performed systems administration for all back-end 
                    platforms, identifying needs and gathering necessary requirements to 
                    drive equipment procurement and adoption of cutting-edge resources. 
                    Successfully coordinated two office build-outs and moves, overseeing the 
                    transition of networking equipment, server-room security, system 
                    installation, contractor and vendor engagements, workflow engineering, as 
                    well as phone and data services. Maintained optimal workflow to ensure 
                    zero operational downtime through the designation of temporary workspaces.
                </p>
                <ul>
                    <li class="card-text">
                        Championed design of new server rooms, including network patch panels, 
                        rack and cabinet installations, and initiation of security and access 
                        policies. 
                    </li>
                    <li class="card-text">
                        Directed evaluation, selection, and procurement of new servers leading 
                        installation of MS Clustering Service and MS Hyper-V to create virtual 
                        server farm supporting files servers, print servers, database servers,
                        and corresponding software. 
                    </li>
                    <li class="card-text">
                        Implemented modernized help-desk software, performing an extensive 
                        evaluation of market tools to identify optimal technology for internal 
                        adoption. Spearheaded training initiatives to promote unilateral product 
                        knowledge and best practices across a network of end-users. 
                    </li>
                    <li class="card-text">
                        Took the initiative to propose, build, and develop an internal Web Site 
                        (MGICentral). MGICentral was used to facilitate workflow for our direct 
                        marketing projects. It was used to manage activities such as project 
                        initiation, assignment of project numbers, managing project specifications, 
                        and tracking results. MGICentral was built using tools such as HTML, 
                        JavaScript, CSS, ASP Classic, MS SQL, and Windows IIS servers.
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Director of Technology & Development, Interlogic</h4>
                <h6>2000-2002</h6>
                <p class="card-text">
                    Promoted to build IT environment for startup division Interlogic, with 
                    operations focused on providing a dynamic set of technologies, including 
                    database analysis and application development, to the client base. Designed 
                    and developed web-based early-association software as Senior Architect and 
                    Programmer. Managed daily operations for a team of 10 resources. Interfaced 
                    with expanding client network to promote a portfolio of specialized product 
                    and service offerings.
                </p> 
                <ul>
                    <li class="card-text">
                        Pioneered design and implementation of online membership application 
                        and conference registration service, managing development of web 
                        servers, database structure, credit card processing, and template 
                        design for application and registration websites. Authored and 
                        initiated end-user and administration pages for 40+ associations and 
                        conferences. 
                    </li>
                    <li class="card-text">
                        Engaged as Senior Architect and Technical Lead during the creation and 
                        launch of an association-management application, ADAM. Directed design, 
                        programming, and implementation of an online interface and supporting 
                        database. Ensured end-user satisfaction through the deployment of 
                        detailed customer support and training programs.
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Information Technology & Data Services Manager</h4>
                <h6>1997-2000</h6>
                <p class="card-text">
                    Established Data Services department to transition all outsourced and costly 
                    data-processing services to internal environment. Designed key roadmaps for 
                    centralizing data-management tools and systems companywide. Led tactical 
                    operations for all project resources, as well as regular information-sharing 
                    meetings, troubleshooting, and technical support. Interfaced with client base 
                    to promote proprietary products and services needed to drive overall 
                    engagement and ensure revenue growth within the department. 
                </p>
                <ul>
                    <li class="card-text">
                        Successfully internalized all third-party data-processing services within 
                        18 months of operations. 
                    </li>
                    <li class="card-text">
                        Built comprehensive IT infrastructure to support the generation of 500 annual 
                        mailings ranging from 5K to 5M+ pieces representing $1M+ in annual revenue. 
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Additional experience with Marketing General, Inc. as Mail Services Unit Manager and Mail Services Unit Project Manager.
            </div>
        </div>
    </div> <!-- /MGI -->
    <div class="card card-body-py5-bg-light">
        <div class="card-body">
            <h3 class="text-center">Technology Portfolio</h3>
            <p class="text-center">
                DEVELOPMENT TOOLS: Python 2, Python 3, Django, Flask, Git, Bootstrap, 
                Jenkins, Apache Solr, Docker, Docker-compose, JavaScript, jQuery, HTML, 
                CSS, Git, GitHub, AWS, Google Analytics, MS Visual Studio, JetBrains 
                PyCharm, Xcode, Apache Solr, MySQL, PostgreSQL, MS SQL Server, Toad for 
                MySQL, TestFlight, Putty, Twilio API, WordPress, ASP Classic 
            </p>
            <p class="text-center">
                SOFTWARE AS A SERVICE: Jira, Confluence, Trello, Basecamp, Github, GitLab, 
                Office 365 (Enterprise), Office 365 (Home),, ZenDesk, Amazon Web Services 
                (AWS), TestFlight 
            </p>
            <p class="text-center">
                NETWORKING EQUIPMENT: hubs, switches, routers, Wi-Fi 
            </p>
            <p class="text-center">
                FILE & PRINT SERVERS: Novel & Windows NT, 2000, 2003, 2008, 2008 RS
            </p>
            <p class="text-center">
                SOFTWARE: MS Office, Office 97, Office 2000, Office XP, Office 2003, 
                Office 2007, Office 2010, Office 98 for Mac, Office 2004 for Mac, Office 
                2008 for Mac, Office 2011 for Mac, Word Perfect, Lotus 123 
            </p>
            <p class="text-center">
                SERVER ROOM MAINTENANCE: racks, patch panels, rack mounted servers, UPS, AC, 
                and KVM 
            </p>
            <p class="text-center">
                OPERATING SYSTEMS: DOS 3.1 3.3,5.0, 5.1, 6.0, Windows 3.0, 3.11 for workgroups, 
                95, NT 3.51, NT 4.0, 98, Millennium, 2000, XP, Vista, 7, 8, 8.1, 10, and 11 
                Windows Server NT 3.5, NT 4.0, 2000, 2003, 2008, 2008 R2, 2012, 2012 R2, Mac 
                OSX, Linux, Ubuntu, iOS, Android
            </p>
        </div>
    </div>
    <div class="card card-body-py5-bg-light">
        <div class="card-body">
            <h3 class="text-center">Certification and Independent Coursework</h3>
            <p class="text-center">CERTIFICATIONS: ITIL Foundation </p>
            <p class="text-center">
                COURSEWORK: HTML5: Structure, Syntax, and Semantics (www.lynda.com), 
                CSS: Page Layouts (www.lynda.com), CSS: Core Concepts (www.lynda.com), 
                CSS: Fundamentals (www.lynda.com), Photoshop CC for Web Design 
                (www.lynda.com), Up and Running with Bootstrap 3 (www.lynda.com), jQuery 
                Essential Training (www.lynda.com), GitHub for Web Designers (www.lynda.com), 
                The Complete iOS8 and Swift Course (www.udemy.com), Introduction to the 
                Flask MicroFramework (www.pluralsight.com), Django Fundamentals 
                (www.pluralsight.com), The Python Developer’s Toolkit (www.pluralsight.com) 
            </p>
        </div>
    </div>
    <div class="card card-body-py5-bg-light">
        <div class="card-body">
            <h3 class="text-center">Education</h3>
            <p class="text-center">
                Bachelor of Science in Psychology - Virginia Tech University - Blacksburg, VA
            </p>    
        </div>
    </div>
</div>