{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="contact">
    <div class="card card-body bg-danger text-white py-5">
        <h2>Contact Me</h2>
        <p class="lead">
            You can contact me or learn more about me through the following channels
        </p>
    </div>
    <div class="card card-body py-5">
        <a href="mailto:timpandrews">
            <h3><i class="fa-solid fa-envelope"></i> Email</h3>
        </a>
        <p>
            <a href="mailto:timpandrews@yahoo.com">timpandrews@yahoo.com</a>
        </p> 
        <a href="https://github.com/timpandrews">
            <h3><i class="fa-brands fa-github"></i> GitHub</h3>
        </a>
        <p>
            <a href="https://github.com/timpandrews">github.com/timpandrews</a>
        </p> 
        <a href="https://www.linkedin.com/in/tim-andrews/">
            <h3><i class="fa-brands fa-linkedin"></i> LinkedIn</h3>
        </a>
        <p>
            <a href="https://www.linkedin.com/in/tim-andrews/">
                linkedin.com/in/tim-andrews
            </a>
        </p>
    </div>
</div>
{% endblock %}