{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="home">
    <div class="card card-body bg-primary text-white py-5">
        <h2>All about Me!</h2>
        <p class="lead">
            Results-driven and highly analytical IT professional with a proven 
            track record of designing and executing new initiatives along with an 
            excellent history of leading cross-functional teams. Expert at program
            architecture, systems management, and web development to lead 
            execution and deployment of customized IT and Web solutions. IT 
            Director/Systems Administrator that has expanded skills and knowledge 
            of a web developer.
        </p>
    </div>
    <div class="card card-body py-5">
        <p>
            <h5>Languages and Tools:</h5>
        </p>
        <p>
            <h6>Experince With:</h6>
        </p>   
        <div class="container tools_div">
            <div class="row">
                <img alt="Python" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" />
                <img alt="Django" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain-wordmark.svg" />
                <img alt="HTML5" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
                <img alt="CSS3" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" />
                <img alt="VSCode" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original-wordmark.svg" />
                <img alt="Git" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg" />
                <img alt="GitHub" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original-wordmark.svg" />
                <img alt="Ubuntu" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ubuntu/ubuntu-plain-wordmark.svg" />
                <img alt="WSL2" class="tools_icon v_center rounded" src="{% static "img//logos/wsl.png" %}" />
                <img alt="Bootstrap" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original-wordmark.svg" />
                <img alt="Font Awesome" class="tools_icon" src="{% static "img//logos/font_awesome.png" %}" />  
                <img alt="Solr" class="tools_icon" src="{% static "img//logos/solr.png" %}" />  
                <img alt="DigitalOcean" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/digitalocean/digitalocean-original-wordmark.svg" />
                <img alt="Flask" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original-wordmark.svg" />
                <img alt="Docker" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-plain-wordmark.svg" />
                <img alt="Active Server Pages" class="tools_icon" src="{% static "img//logos/asp.png" %}" />  
                <img alt="Nginx" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nginx/nginx-original.svg" />
                <img alt="Gunicorn" class="tools_icon" src="{% static "img//logos/gunicorn.png" %}" />  
                <img alt="Jenkins" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jenkins/jenkins-original.svg" />
                <img alt="MySQL" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg" />
                <img alt="PostgreSQL" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg" />
                <img alt="SQLLite" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original-wordmark.svg" />
                <img alt="Jira" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jira/jira-original-wordmark.svg" />
                <img alt="Confluence" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/confluence/confluence-original-wordmark.svg" />
                <img alt="Scrum" class="tools_icon" src="{% static "img//logos/scrum.png" %}" />
                <img alt="JavaScript" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                <img alt="jQuery" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-plain-wordmark.svg" />
                <img alt="WordPress" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/wordpress/wordpress-original.svg" />
                <img alt="Bash" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bash/bash-original.svg" />
            </div>
        </div>
        <hr>
        <p>
            <h6>Familar With:</h6>
        </p>
        <div class="container tools_div">
            <div class="row">
                <img alt="AngularJS" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original-wordmark.svg" />
                <img alt="AWS" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" />
                <img alt="Xcode" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/xcode/xcode-original.svg" />
                <img alt="Trello" class="tools_icon v_center" src="{% static "img//logos/trello.png" %}" />
                <img alt="Twilio" class="tools_icon" src="{% static "img//logos/twilio.png" %}" />
                <img alt="Google Analytics" class="tools_icon" src="{% static "img//logos/google_analytics.jpg" %}" />
                <img alt="Putty" class="tools_icon v_center" src="{% static "img//logos/putty.jpg" %}" />
                <img alt="TestFlight" class="tools_icon v_center" src="{% static "img//logos/testflight.jpg" %}" />
                <img alt="Toad for SQL" class="tools_icon" src="{% static "img//logos/toad.png" %}" />        
                <img alt="MS SQL Server" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain-wordmark.svg" />  
                <img alt="mongoDB" class="tools_icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg" />
            </div>
        </div>
        <hr>
        <h4>Web, Mobile, and Software Development</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Technology Infrastrucuture</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Project Management</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Systems Administration</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Budgeting & Expenditures</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Startup Operations</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Customer and Vendor Relations</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Office Relocation and Buildout</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
    </div>
</div>
{% endblock %}
