{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="home">
    <div class="card card-body bg-primary text-white py-5">
        <h2>All about Me!</h2>
        <p class="lead">
            Results-driven and highly analytical IT professional with a proven 
            track record of designing and executing new initiatives along with an 
            excellent history of leading cross-functional teams. Expert at program
            architecture, systems management, and web development to lead 
            execution and deployment of customized IT and Web solutions. IT 
            Director/Systems Administrator that has expanded skills and knowledge 
            of a web developer. 
        </p>
    </div>
    <div class="card card-body py-5">
        <p>
            <h5>Areas of Expertise </h5>
        </p>
        <hr>
        <h4>Web, Mobile, and Software Development</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Technology Infrastrucuture</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Project Management</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Systems Administration</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Budgeting & Expenditures</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Startup Operations</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Customer and Vendor Relations</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
        <h4>Office Relocation and Buildout</h4>
        <div class="progress mb-3">
            <div class="progress-bar bg-success" style="width:100%"></div>
        </div>
    </div>
</div>
{% endblock %}
