{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base target="_blank"/> <!-- forces all external links to open in new tab -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

    <!-- CSS -->
    {% include 'partials/_head_css.html' %}
    
    <title>Tim Andrews - Developer/IT Professional</title>

</head>

<body>
    <div class="container">
        <!-- Header -->
        {% include 'partials/_header.html' %}

        {% block content%}
        
        {% endblock %}
    </div>

    <!-- Scripts -->
    {% include 'partials/_foot_scripts.html' %}
    
</body>
</html>